<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/master.css' />
</head>
<body>
  <div class="vim-wrap">
    <% include common/header.ejs %>
    <section class="vim-body">
      <div class="vim-container">
        <div class="vim-login">
          login
        </div>
      </div>
    </section>
    <% include common/footer.ejs %>
  </div>
</body>
</html>
