<header class="vim-header">
  <div class="vim-container">
    <div class="hd-logo"></div>
    <nav class="hd-nav"></nav>
    <div class="hd-user">
      <div class="user-photo"></div>
      <% if (user) { %>
        <a href="/publish" class="login">发表</a>
        <a href="/logout" class="register">退出</a>
      <% } else { %>
        <a href="/login" class="login">登录</a>
        <a href="/register" class="register">注册</a>
      <% } %>
    </div>
  </div>
</header>
