<header class="vim-header">
  <div class="vim-container">
    <div class="hd-logo"></div>
    <nav class="hd-nav"></nav>
    <div class="hd-user">
      <div class="user-photo"></div>
      <% if (user) { %>
        <a href="/upload" class="option">上传</a>
        <a href="/publish" class="option">发表</a>
        <a href="/logout" class="option">退出</a>
      <% } else { %>
        <a href="/login" class="option">登录</a>
        <a href="/register" class="option">注册</a>
      <% } %>
    </div>
  </div>
</header>
