<header class="vim-header">
  <div class="vim-container">
    <div class="hd-logo"></div>
    <nav class="hd-nav"></nav>
    <div class="hd-user">
      <div class="user-photo"></div>
      <% if (user) { %>
        <a class="option blue-link" href="/upload">上传</a>
        <a class="option blue-link" href="/publish">发表</a>
        <a class="option blue-link" href="/logout">退出</a>
      <% } else { %>
        <a class="option blue-link" href="/login">登录</a>
        <a class="option blue-link" href="/register">注册</a>
      <% } %>
    </div>
  </div>
</header>
