<header class="vim-header">
  <div class="vim-container">
    <div class="hd-logo"></div>
    <nav class="hd-nav"></nav>
    <div class="hd-user">
      <div class="user-photo"></div>
      <a href="/login" class="login">登录</a>
      <a href="/logout" class="logout">注册</a>
    </div>
  </div>
</header>
