<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/master.css' />
</head>
<body>
  <div class="vim-wrap">
    <% include common/header.ejs %>
    <section class="vim-body">
      <div class="vim-container">
        <form class="vim-form-users" method="post">
          用户名：<input type="text" name="name"/><br />
          密码：  <input type="password" name="password"/><br />
         <input type="submit" value="登录"/>
        </form>
        <% if (success) { %>
          <div><%= success %></div>
        <% } %>
        <% if (error) { %>
          <div><%= error %> </div>
        <% } %>
      </div>
    </section>
    <% include common/footer.ejs %>
  </div>
</body>
</html>
